:root {
    --Brand006-primary: #EC6730;
    --Neutral001: #0B0C11;
    --Neutral004: #60626E;
    --Neutral005: #7A7D8B;
    --Neutral008: #F3F3F4;
    --Neutral009: #FAF9FA;
    --NeutralBorder: linear-gradient(#121010 15%, #121010 25%);
}

header {
    margin-bottom: 0px!important;
}









.aboutHead {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 112px 64px;
    background: var(--Neutral-008, #F3F3F4);
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.aboutHeadMain {
    width: 100%;
    max-width: 1313px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.aboutHead svg {
    max-width: 100% !important;
    position: absolute;
    width: 1000px;
    height: 120%;
    /* transform: rotate(135deg); */
    fill: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.aboutHead .svg1 {
    left: 0;
    top: 0;
}

.aboutHead .svg2 {
    right: 0;
}

.aboutHeadSubTitle {
    display: flex;
    align-items: center;
    gap: 4px;

    color: var(--Brand-006-primary, #EC6730);
    text-align: center;

    /* Title/subtitle */
    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 104%;
    /* 14.56px */
    letter-spacing: -0.42px;
    text-transform: uppercase;
}

.ahstSquare {
    width: 4px;
    height: 4px;
    background: var(--Brand-006-primary, #EC6730);
}

.aboutHeadTitle {
    max-width: 959px;
    color: var(--Neutral-001, #0B0C11);

    /* Title/h1 */
    font-family: Overpass;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 107%;
    /* 68.48px */
    letter-spacing: -4.48px;
}


.aboutHeadP {
    max-width: 727px;
    color: var(--Neutral-004, #60626E);

    /* Text/regular-16 */
    font-family: Overpass;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
    /* 24.8px */
}


